@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;800&family=Mulish:wght@300;400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;

}
.app{
  width: 85%;
  margin: 0 auto;
  height: 100vh;
  background-color: hsl(36, 100%, 99%);

  
}
header{
  width: 100%;
  background-color: transparent;
  display: flex;
  padding-right: 13px;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  margin: 50px 0;
  transition: .5s ease all;
}
nav a{
  text-decoration: none;
  margin-left:32px;
  color: grey;
  font-size: 17px;
  font-weight: 400;
}
nav a:hover{
  color: hsl(5, 85%, 63%);

}

.nav-btn{
 border: none;
 padding: 5px;
 outline: none;
 cursor: pointer;
 background-color: transparent;
 display: none;
 font-size: 1.8rem;
}


.hero-content{
  width: 100%;
  display: flex;
  flex-direction: row;
  
  
}
.hero-image-container{
  width: 64%;
}
.hero-image-content{
  width: 100%;
 
}
.hero-img{
  width: 100%;
}
.img-content{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.img-title ,.img-par{
  width: 50%;
}
.img-title h1{
  font-weight: 800;
  font-size: 50px;
}
.img-par{
  margin-left: 50px;

}
.img-par p{
  font-size:15px;
  color: hsl(236, 13%, 42%);
  line-height: 1.5;
 
}
.img-par button{
  background-color: hsl(5, 85%, 63%);
  width: 250PX;
  padding: 10px;
  height: 70PX;
  border: 1px solid transparent;
  margin: 50PX 0;
  color: hsl(36, 100%, 99%);
  letter-spacing: 5px;
  font-size: 20px;
  font-weight: 400;
}

.hero-new{
  width: 36%;
}
.hero-new-content{
  width: 85%;
  margin-left: 50px;
  min-height: 530px;
  background-color: hsl(240, 100%, 5%);
  padding: 60px 40px ;

}
.hero-new-content h1{
  color: hsl(35, 77%, 62%);
}
.hero-new-content .content{
  margin-top: 30px;
}
 .content h3{
    color: #ffffff;
}
.content p{
  color: hsl(236, 13%, 42%);
  margin-top: 10px;
  font-size: 15px;
}
.first p, .second p{
  padding-bottom: 30px;
  border-bottom: 1px solid hsl(236, 13%, 42%);
}
.hero-categories{
  width: 100%;
  margin-top: 70px; 
}
.category-container{
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.category-img{
  display: flex;
  flex-direction: row;
  
}
.category-img img{
  height: 150px;
}
.category-content{
  margin-left: 20px;
}
.category-content p{
  font-size: 15px;
}
.category-content h1, p{
  color: hsl(236, 13%, 42%);
}
.category-content h3{
  margin: 15px 0;
  color:hsl(240, 100%, 5%);
}
@media(max-width:750px){
    .app{
      width: 90%;
      margin: 0 auto;
    }
    .nav-btn{
     display: block;
      
    }
    header nav{
      position: fixed;
      top: 0;
      left:0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      background-color: hsl(36, 100%, 99%);
      gap: 32px;
      transition: 1s;
      transform: translateX(120vh);
    }
    header .responsive_nav{
      transform: none;
    }
    nav .nav-close-btn{
      position: absolute;
      top: 2rem;
      right: 2rem;
    }
    nav a{
      font-size: 1.5rem;
    }
    
    .hero-content{
      flex-direction: column;
    }
    .hero-image-container{
      width: 100%;
    }
    .img-content{
      flex-direction: column;

    }
    .img-title{
      width: 100%;
    }
    .img-title{
      margin-bottom: 30px;
      
    }
    .img-title h1{
      font-size: 70px;
    }
    .img-par{
      margin-left: 0;
      width: 100%;
    }
    .img-par p{
      font-size: 30px;
    }
    .hero-new{
      width: 100%;
    }
    .hero-new-content{
      margin-left: 0;
      width: 100%;
    }
    .content{
      width: 90%;
      margin: 0 auto;
    }
    .hero-new-content h1{
      margin-left: 25px;
    }
    .content h3{
      font-size: 30px;
    }
    .content p{
      font-size: 17px;
    }
    .category-container{
      display: flex;
      flex-direction: column;
    }
    .category-content p{
      font-size: 25px;
      line-height:1.2 ;
    }
    .category-img{
      padding-top: 30px;
    }
    .category-content h1{
      font-size: 40px;
    }
    .category-content h3{
      font-size: 25px;
    }
    .category-img img{
      min-height: 320px;
      width: 170px;
      margin-top: 10px;
      
    }
    
}